body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;

    .form{

        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;

        .switch{
            display: flex;
            
                .btn-masuk{
                    width:150px;
                    height: 45px;
                    color: white;
                    background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),-2px -2px 5px rgba(255, 255, 255, 0.3);

                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }

                    
                }
                .btn-daftar{
                    margin-left: -40px;
                    width:150px;
                    height: 45px;
                    border: none;
                    background: white;
                    border-radius: 50px;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),-2px -2px 5px rgba(255, 255, 255, 0.3);
                }
                .btn-masuk:active{
                    a{
                        color: white;
                    }
                    background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                }
                .btn-daftar:active{
                    a{
                        color: white;
                    }
                    background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                }
                a{
                    text-decoration: none;
                    color: #162938;
                }
                
            }

        .login{
            
            .input{
                position: relative;
                width: 350px;
                height: 50px;
                border-bottom:2px solid #162938;
                margin: 30px 0;
                label{
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    font-size: 1em;
                    font-weight: 500;
                    pointer-events: none;
                    transition: .5s;
                }
                input:focus~label,
                input:valid~label{
                    top: -5px;
                }
                input{
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 1em;
                    color: #162938;
                    font-weight: 600;
                    padding-right: 35px;
                }
                
                .icon{
                    position: absolute;
                    right: 8px;
                    font-size: 1.2em;
                    color: #162938;
                    line-height: 3;
                }  
            }
            .re-got{
                a{
                    font-weight: bold;
                    text-decoration: none;
                    color: #162938;
                }
            }
            .btn {
                width: 100%;
                height: 45px;
                color: white;
                background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                border-radius: 50px;
                cursor: pointer;
            
            }
            
        }
        .social{
            img{
                margin-right: 5px;
            }
        }
        .bls_tittle{
            width: 200px;
        }
        
    }
    .image_u{
       background-image: url(../images/unsri.png);
       background-size: cover;
       background-repeat: no-repeat;
       height: 110vh;
    }
    .mobile{
        display: none;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;


        .switch{
            display: flex;
            
                .btn-masuk{
                    width:150px;
                    height: 45px;
                    color: white;
                    background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),-2px -2px 5px rgba(255, 255, 255, 0.3);
                    
                }
                .btn-daftar{
                    margin-left: -40px;
                    width:150px;
                    height: 45px;
                    color: white;
                    border: none;
                    background: white;
                    border-radius: 50px;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),-2px -2px 5px rgba(255, 255, 255, 0.3);
                }
                .btn-masuk:active{
                    a{
                        color: white;
                    }
                    background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                }
                .btn-daftar:active{
                    a{
                        color: white;
                    }
                    background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                }
                a{
                    text-decoration: none;
                    color: #162938;
                }
                
            }

        .login{
            
            .input{
                position: relative;
                width: 350px;
                height: 50px;
                border-bottom:2px solid #162938;
                margin: 30px 0;
                label{
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    font-size: 1em;
                    font-weight: 500;
                    pointer-events: none;
                    transition: .5s;
                }
                input:focus~label,
                input:valid~label{
                    top: -5px;
                }
                input{
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 1em;
                    color: #162938;
                    font-weight: 600;
                    padding-right: 35px;
                }
                
                .icon{
                    position: absolute;
                    right: 8px;
                    font-size: 1.2em;
                    color: #162938;
                    line-height: 3;
                }  
            }
            .btn {
                width: 100%;
                height: 45px;
                color: white;
                background: linear-gradient(90deg, hsla(341, 95%, 49%, 1) 0%, hsla(331, 81%, 59%, 1) 100%);
                border-radius: 50px;
                cursor: pointer;
            
            }
            .atau{
                text-align: center;
                .btn-google {
                    width: 100%;
                    height:55px;
                    color: black;
                    background: transparent;
                    border: 2px solid #162938;
                    border-radius: 5px;
                    cursor: pointer;
                    img{
                        width: 30px;
                    }
                
                }
            }
            
        }
        .social{
            img{
                margin-right: 5px;
            }
        }
        .bls_tittle{
            width: 200px;
        }
        
    }
}


/* iPhone XR/11 */
@media only screen and (max-width:767px) {
    body{
       .row{
        display: none;
        }
        .mobile{
            display: flex;
            margin-top: 40px;
        } 
    }
    
}

